#hd, #ft { text-align: center; }

#ft ul { margin: 0; padding:0; }

#ft li{ display: inline; list-style: none; }

h1, h2, h3, h4, h5, h6 { font-family: 'Cantarell', 'Cantarell Bold', sans-serif; font-weight: bold;  }

h1 { text-align: center; font-size: 30px; }

h1 span { display: none !important; }

h2 { font-size: 24px; text-align: center; text-transform: uppercase; letter-spacing: 0.1em; }

h3 { font-size: 18px;}

html, body {padding: 0; margin: 0;}

#doc4 {background-color: white; padding: 20px;}

#source { margin: 20px; padding: 10px; background-color: #333; text-align: center; }

#source, #source a { color: white;  }

#source h2 { font-family: sans-serif;  }

#source .command { font-family: monospace; color: lime; font-size: 18px;}

   #custom-doc { width:64.62em;*width:63.06em;min-width:840px; margin:auto; text-align:left; position: relative; }

#bd, #ft {
  font-family: Times, "Times New Roman", serif;
  background-color: transparent;
  background-repeat: repeat-x;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
}

html {
  background-image: url(i/merlin-bg.png);
}

html{

  background-repeat: repeat-x;

}

#hd ul {position: absolute; padding: 0; margin: 0; top: 105px; right: 0;}

#hd li {display: inline; list-style: none;}

#hd li a{background-color: green; font-size: 22px; color: white; padding: 5px 20px; font-family: sans-serif; text-decoration: none; -moz-border-radius: 10px; -webkit-border-radius: 10px; display: block; font-weight: bold;}

#hd li a:hover {background-color: lime; color: green;}

#hd h1 {position: absolute; top: 65px; left: 0; text-transform: uppercase; font-size: 36px; letter-spacing: 0.1em; font-weight: bolder; }

#hd h1 a{color: black !important; text-decoration: none;}

#bd {margin-top: 180px; margin-bottom: 45px;}

#banner { margin-bottom: 45px; text-align: center; }